version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: flask-backend
    ports:
      - "5001:5001"
    restart: always

  frontend:
    build:
      context: ./frontend
    container_name: node-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always
